---
import Layout from "../layouts/Layout.astro";
import Animation from "../components/Animation.astro";
import ReleaseCal from "../components/ReleaseCal.astro";
import Navigation from "../components/Navigation.astro";
---

<Layout title="Doof | Releases">
	<!-- <Animation /> -->
	<div class="nav-wrap">
		<Navigation page="releases" />
	</div>
	<ReleaseCal />
</Layout>

<style lang="scss">
	.nav-wrap {
		display: none;
	}

	@media screen and (min-width: 900px) {
		.nav-wrap {
			display: block;
		}
	}
</style>
