---
import Layout from "../layouts/Layout.astro";
import Navigation from "../components/Navigation.astro";
import SignupForm from "../components/SignupForm.astro";
---

<Layout title="Doof | Sign up">
	<Navigation page="" />
	<div class="signup"><SignupForm /></div>
</Layout>

<style lang="scss">
	.signup {
		color: var(--grey);
		border-color: var(--grey);
		font-family: var(--dot-font);
		text-transform: uppercase;
	}
</style>
