---
import "normalize.css";

export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style lang="scss" is:global>
	@font-face {
		font-family: "pilat";
		src: url("/fonts/PilatExtended-Black.woff") format("woff");
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}
	@font-face {
		font-family: "nhaas";
		src: url("/fonts/NHaasGroteskTXPro-55Rg.woff2") format("woff2");
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}
	@font-face {
		font-family: "00theran";
		src: url("/fonts/OOTheran-Regular.otf") format("woff2");
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}
	:root {
		--main-font: "pilat", sans-serif;
		--main-font-weight: 100;
		--secondary-font: "nhaas", sans-serif;
		--dot-font: "00theran", sans-serif;
		--secondary-font-weight: 100;
		--white: #ffffff;
		--blue: #0054ff;
		--highlight: #bdff91;
		--grey: #b2b2b2;
		--background: #000000;
	}
	body {
		background-color: var(--background);
		color: white;
		font-style: normal;
		font-family: var(--main-font);
		font-weight: var(--main-font-weight);
		max-width: 100vw;
		overflow: hidden;
	}
	* {
		box-sizing: border-box;
	}
	.bg {
		position: fixed;
		top: -50%;
		left: -50%;
		right: -50%;
		bottom: -50%;
		width: 200%;
		height: 200vh;
		background: transparent
			url("http://assets.iceable.com/img/noise-transparent.png") repeat 0 0;
		background-repeat: repeat;
		animation: bg-animation 0.2s infinite;
		opacity: 0.9;
		visibility: visible;
		z-index: 999999;
		pointer-events: none;
	}

	@keyframes bg-animation {
		0% {
			transform: translate(0, 0);
		}
		10% {
			transform: translate(-5%, -5%);
		}
		20% {
			transform: translate(-10%, 5%);
		}
		30% {
			transform: translate(5%, -10%);
		}
		40% {
			transform: translate(-5%, 15%);
		}
		50% {
			transform: translate(-10%, 5%);
		}
		60% {
			transform: translate(15%, 0);
		}
		70% {
			transform: translate(0, 10%);
		}
		80% {
			transform: translate(-15%, 0);
		}
		90% {
			transform: translate(10%, 5%);
		}
		100% {
			transform: translate(5%, 0);
		}
	}
</style>
